$buy-btn_light: var(--main-color_light);
$buy-btn_dark: var(--main-color_dark);

.buy-btn {
  height: 3rem;
  width: 12rem;

  color: white;

  margin: 0 1rem;

  border: 2px solid $buy-btn_dark;
  /* border: 2px solid var(--important);; */
  border-radius: 2rem;

  background-color: $buy-btn_light;
  background: linear-gradient($buy-btn_light, $buy-btn_dark);

  outline: none;
  cursor: pointer;

  font-weight: bold;
  font-size: 1.8rem;
}

.buy-btn:hover {
  background: linear-gradient($buy-btn_light, $buy-btn_light);
}
.buy-btn:active {
  background: linear-gradient($buy-btn_dark, $buy-btn_dark);
}