$buy-btn_light: var(--main-color_light);
$buy-btn_dark: var(--main-color_dark);
$buy-btn_disable: var(--main-color_disabled);

.buy-btn {
  height: 3rem;
  min-width: 12rem;
  max-width: 20rem; /* +- */

  margin: 0 1rem;
  padding: 0 1rem;

  cursor: pointer;

  color: white;

  border: 2px solid $buy-btn_dark;
  border-radius: 2rem;

  outline: none;
  background: linear-gradient($buy-btn_light, $buy-btn_dark);

  background-color: $buy-btn_light;

  font-size: 1.7rem;

  font-weight: bold;

  &_mini {
    height: 2rem;
    width: 8rem;
    min-width: 8rem;
    max-width: 8rem;

    font-size: 1.2rem;
  }

  &_disable {
    border: 1px solid $buy-btn_disable;
    background: $buy-btn_disable;

    background-color: $buy-btn_disable;
  }
}

.buy-btn:hover:not(.buy-btn_disable) {
  background: linear-gradient($buy-btn_light, $buy-btn_light);
}
.buy-btn:active:not(.buy-btn_disable) {
  background: linear-gradient($buy-btn_dark, $buy-btn_dark);
}

@media screen and (max-width: 500px) {
  .buy-btn {
    height: 2.5rem;

    font-size: 1.3rem;
  }
  .buy-btn_mini {
    height: 1.5rem;
    min-width: 6rem;
    max-width: 6rem;
    margin: 0 0.5rem;

    font-size: 1rem;
  }
}
