.product__wrapper {
  position: relative;

  display: flex;
  flex-flow: row;

  align-items: stretch;
  justify-content: center;

  /* border: 2px solid blue; */
}

.product__right {
  position: relative;
  display: flex;

  flex: 1 1;
  flex-direction: column;
  align-self: flex-end;
}