.product__wrapper {
  position: relative;

  display: flex;
  flex-flow: row;

  flex-wrap: wrap;

  align-items: stretch;
  justify-content: center;

  /* border: 2px solid blue; */
}

.product__right {
  position: relative;
  display: flex;
  flex: 1;

  margin-left: 4rem;

  flex-direction: column;
  align-self: flex-end;
}

@media screen and (max-width: 1300px) {
  .product__right {
    margin-left: 0;

    align-items: center;
  }
}