.product-text {
  &__wrapper {
    display: flex;
    flex: 1 1;
    flex-direction: column;

    padding:0 2rem 0 5rem;

    min-width: var(--block_min-width);

    /* border: 1px solid blue;  */
    /* TODO: del */

    /* font-family: 'Arial'; */
  }

  &__header {
    font-weight: bold;
    font-size: var(--fontSize_info-header);
  }

  &__main-intro {
    padding: 1rem 0;

    font-size: var(--fontSize_info-main-intro);
  }

  &__plus {
    &-intro {
      padding-bottom: 1rem;

      font-size: var(--fontSize_info-plus-intro);
    }

    &_wrapper {
      display: flex;
      flex-direction: column;
    }

    &_item {
      padding-left: 0.5rem;
      /* border: 1px solid red; */
    }
  }
}
