.text-with-video {
  display: flex;

  height: 40vw;
  min-height: 400px;
  max-height: 900px;
  width: 100vw;

  align-items: center;
  justify-content: center;
  object-fit: cover;

  /* border: 1px solid red; */

  &__wrapper {
    position: relative;

    overflow: hidden;
  }

  &__video {
    position: absolute;

    top: 0;
    left: 0;

    display: flex;

    background-color: blue;
  }

  &__text {
    position: absolute;

    display: flex;

    height: 100%;
    width: 100%;

    color: white;

    background-color: rgba(0, 0, 0, 0.3);

    font-size: var(--fontSize_info-header);
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 450px) {
    &__text {
      font-size: var(--fontSize_info-main-intro);
    }
  }

  @media screen and (max-width: 450px) {
    min-height: 250px;
  }
}
