.pluses-table__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: black;

    /* BLOCK mainText */
    .pluses-table__main-text {
        padding: 5rem 2rem;

        background: url('https://www.apple.com/v/iphone-xr/d/images/overview/copy_texture_1_medium.jpg');

        font-size: var(--fontSize_info-header);
    }

    /* BLOCK backgroundImg */
    .pluses-table__background-img {
        height: 5rem;
    }

    /* BLOCK pluses-table */
    .pluses-table {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 2rem;

        color: white;

        &__row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__cell {
            display: flex;
            flex-direction: column;

            min-height: 30vw;
            max-height: 300px;

            width: 100%;
            min-width: 20vw;
            max-width: 50%;

            border: 1px solid red;

            background-color: rgba(0, 0, 0, 0.3);
            align-items: center;
            justify-content: space-around;

            .cell__text {
                padding: 0 1rem;

                text-align: center;

                font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue',
                    'Helvetica', 'Arial', sans-serif;

                font-size: 20px;
                font-size: var(--fontSize_info-main-intro);
                font-weight: 800;
            }

            .cell__img-wrapper {
                height: 9vw;
                width: 9vw;

                padding: 0.5rem;

                border: 1px solid green;

                object-fit: cover;

                .cell__img {
                    height: 100%;
                    width: 100%;
                    max-width: 100%;

                    border: 1px solid blue;

                    object-fit: cover;
                }
            }
        }
    }

    .masked-copy {
        color: transparent !important;
        -webkit-background-clip: text;
    }
}
