.text-with-video {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 30vw;
  width: 100vw;
  min-height: 400px;
  max-height: 900px;
  object-fit: cover;

  border: 1px solid red;

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    display: flex;

    top: 0;
    left: 0;

    background-color: blue;
  }

  &__text {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    background-color: rgba(0,0,0, 0.3);

    font-size: 3rem;
  }

  @media screen and (max-width: 768px) {
    &__text {
      font-size: var(--fontSize_info-main-intro);
    }
  }

  @media screen and (max-width: 450px) {
    min-height: 250px;
   }
}