.image-in-row__wrapper {
  position: relative;

  display: flex;

  flex-direction: row;
  flex: 1 1;

  box-sizing: border-box;

  height: 10vh;
  min-height: 80px;
  width: 40vw;

  padding: 1rem 2rem;
  flex-wrap: nowrap;
  align-items: center;

  &_image {
    display: flex;
    flex: 1;


    box-sizing: border-box;

    height: 100%;

    min-width: 50px;

    margin: 0 5px;

    cursor: pointer;

    /* TODO: del */
    border: 1px solid red;
    justify-content: center;
  }
}