$important: var(--important);
$buy-btn_light: var(--main-color_light);
$buy-btn_dark: var(--main-color_dark);

$height: 30px;
$width: $height;

$lineWidth: calc($height * 0.05);
$lineLength: calc($height / 2);

$activeFontSize: var(--fontSize_info-plus-item);

.plus {
  position: relative;

  display: flex;

  height: $height;
  min-height: $height;
  width: $width;
  min-width: $width;

  cursor: pointer;
  transition: all .3s ease 0s;

  border-radius: 50%;

  background: $buy-btn_light;

  &__line {


    position: absolute;
    top: calc(50% - ($height - $lineLength) / 2);

    left: calc(50% - ($lineWidth / 2));

    height: $lineLength;
    width: $lineWidth;

    border-radius: $lineWidth;
    /* background: #000; */

    background: white;

    &--h {
      transform: rotate(90deg);
    }
    &--v {
      display: flex;
      overflow: hidden;

      transition: all .3s ease 0s;
      align-items: center;
      justify-content: space-around;
    }
  }

  &__link {
    visibility: hidden;

    transition : .3s ease 0s;
    transform: scale(.5);

    opacity: 0;
    /* color: #fff; */
    font-size: $activeFontSize;
  }
  &--active {
    height: $lineLength;

    border-radius: $lineLength;

    .plus__line--v {
      top: calc(-3 * $lineLength);

      left: calc(50% - 140px);

      box-sizing: border-box;
      height: calc(2 * $activeFontSize);
      width: 280px;
      padding: 0 0.5rem;
      /* width: auto; */

      white-space: nowrap;

      border: 1px solid $important;

      border-radius: 60px;
    }
    .plus__link{
      visibility: visible;

      transition-delay: .15s;
      transform: scale(1);

      opacity: 1;
    }
  }
}