$important: var(--important);

.price {
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: center;

  padding: 1rem;

  font-size: 1.2rem;
  font-family: 'Helvetica', 'sans-serif';

  white-space: nowrap; /* не переносить слова */

  &-old__wrapper {
    display: flex;
    flex-direction: row;
  }

  &_old {
    display: flex;
    text-decoration-line: line-through;
    color: gray;

    padding-right: 1rem;
  }

  &_new {
    font-size: 4rem;
    font-weight: bold;

    margin: 0.1rem 0;
  }

  &_discount {
    color: red;
  }

  &_benefit {
    display: flex;
    justify-content: center;

    padding: 0 1rem;

    color: $important;
    border-radius: 1rem;
    border: 1px solid $important;

    background-color: white;
  }

  &_currency {
    font-size: 2rem;
  }
}