$btnSize: 2.2rem;
$closeBtnR: calc(-$btnSize / 2);

.wrapper {
    position: fixed;
    display: flex;

    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.221);
    border: 1px solid black;

    z-index: 100;
    overflow: hidden;

    &__dialog {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        height: 50vh;
        min-height: 300px;
        width: 50vw;
        min-width: 300px;

        padding: 2rem;

        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.8);

        .dialog__text {
            font-size: var(--fontSize_info-main-intro);
        }

        .dialog__input {
            margin: 2rem 0;
            padding: 0.5rem;

            border: 1px solid red;
            border-radius: 0.5rem;

            font-size: var(--fontSize_info-main-intro);
        }

        .dialog__close-btn {
            position: absolute;
            /* top: calc(-$btnSize + 1rem);
            right: calc(-$btnSize + 1rem); */
            top: 0;
            right: 0;

            width: $btnSize;
            min-width: $btnSize;
            height: $btnSize;

            border-radius: 0rem 0.5rem 0rem 0.5rem;

            background-color: #fff;

            border-left: 1px solid black;
            border-bottom: 1px solid black;

            cursor: pointer;

            &:before,
            &:after {
                position: absolute;
                /* 2px */
                height: calc(0.08 * $btnSize);
                /* 16px */
                width: calc(0.67 * $btnSize);

                /* 4px */
                left: calc(0.17 * $btnSize);
                /* 11px */
                top: calc(0.45 * $btnSize);
                content: '';

                background-color: #000;
            }

            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
    }
}