$info: #42a1ec;
$info-light: #aaa;

.warranty-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  background: black;
  justify-content: center;
  align-items: center;

  .warranty {
    display: flex;
    flex-direction: column;

    max-width: var(--max-width);

    padding: 0 2rem 4rem;

    color: $info-light;
    align-items: flex-start;

    .line {
      width: 100%;
      padding-bottom: 3rem;

      border-top: 1px solid #362f32;
    }

    &-title {
      margin: auto;
      padding: 3rem 0;

      color: $info;

      font-size: var(--fontSize_info-header);
    }

    &-text {
      font-size: var(--fontSize_info-plus-item);

      &-bold {
        color: $info;

        font-size: var(--fontSize_info-plus-item);

        font-weight: bold;
      }
    }

    &-return {
      padding: 1rem 0;
    }

    &-broken {
      padding: 1rem 0;
    }

    &-images {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      padding: 1rem 0 0 0;

      &__image {
        width: 28vw;
        max-width: 15rem;
      }
    }
  }
}
