body {
  overflow-x: hidden;

  margin: 0;

  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', 'sans-serif';
}

:root {
  --important: #df504d;

  --menu-bg__begin: #ffed4bf9; /* #ffed4bf9; */
  --menu-bg__end: #fafafaf9; /* #fafafaf9; */

  --contrast-bg: #ffed4b;
  --product-bg: #ffed4b;

  /* --main-color_light: #df504d;
  --main-color_dark: #b55552; */
  --main-color_light: #42a1ec;
  --main-color_dark: #0070c9;
  --main-color_disabled: #0070c931;

  /* минимальная ширина блоков, для Product */
  --block_min-width: 380px;

  --fontSize_info-header: calc(
    24px + (54 - 24) * (100vw - 320px) / (1600 - 320)
  );
  --fontSize_info-main-intro: calc(
    20px + (30 - 20) * (100vw - 320px) / (1600 - 320)
  );
  --fontSize_info-plus-intro: calc(
    20px + (25 - 20) * (100vw - 320px) / (1600 - 320)
  );
  --fontSize_info-plus-item: calc(
    16px + (22 - 16) * (100vw - 320px) / (1600 - 320)
  );
}

.background_gradient {
  position: absolute;

  z-index: -1;
  top: -30vh;

  height: 200vh;
  width: 100vw;

  background: linear-gradient(
    40deg,
    rgba(1, 1, 1, 0) 55%,
    #fff 55%,
    /* --product-bg */ #fff 65%,
    rgba(1, 1, 1, 0) 65%
  );
}

* {
  box-sizing: border-box;
}

/* Body background animation */
body {
  animation: theme 62s linear infinite;

  &:after,
  &:before {
    position: fixed;
    z-index: -10;
    top: 0;

    display: block;

    height: 100vmax;
    height: 100vh;
    width: 100vw;
    width: 100vmax;

    content: '';
    animation: background 190s linear infinite;

    background: rgba(0, 0, 0, 0.05);
  }

  &:after {
    left: 15vw;
  }

  &:before {
    right: 15vw;

    animation-delay: -30s;
    animation-direction: reverse;
  }
}

@keyframes theme {
  0% {
    background: #74c390;
  }

  16% {
    background: #5dbdb6;
  }

  33% {
    background: #59d4e1;
  }

  50% {
    background: #ffff70;
  }

  66% {
    background: #53c8fa;
  }

  83% {
    background: #93e1ff;
  }

  100% {
    background: #90d5a8;
  }
}

@keyframes background {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
