body {
  margin: 0;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial", "sans-serif";
  overflow-x: hidden;
}

:root {
  /* --important: #e41d94; */
  --important: #df504d;

  --main-color_light: #df504d;
  --main-color_dark: #b55552;

  /* минимальная ширина блоков, для Product */
  --block_min-width: 380px;

  --fontSize_info-header: calc(24px + (54 - 20) * (100vw - 320px) / (1600 - 320));
  --fontSize_info-main-intro: calc(20px + (30 - 20) * (100vw - 320px) / (1600 - 320));
  --fontSize_info-plus-intro: calc(20px + (25 - 20) * (100vw - 320px) / (1600 - 320));
  --fontSize_info-plus-item: calc(16px + (22 - 16) * (100vw - 320px) / (1600 - 320));
}
/* font-family: 'Oswald', 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
/* apple site "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; */

/* test BG */
$grayBG: #ededed;

.background_gradient {
  position: absolute;
  height: 200vh;
  width: 100vw;
  /* right: 20vh; */
  top: -30vh;
  /* right: 0; */

  background: linear-gradient(
    40deg,
    rgba(1,1,1,0) 60%, $grayBG 60%
  );

  /* background:
    linear-gradient(40deg, rgba(1,1,1,0) 60%, #ffed4b 60%),
    linear-gradient(45deg, rgba(1,1,1,0) 65%, #fae83da3 65%),
    linear-gradient(50deg, rgba(1,1,1,0) 70%, #fae10089 70%);
    background-blend-mode: darken; */
  /* background:
    linear-gradient(40deg, rgba(1,1,1,0) 60%, #ffed4b 60%),
    linear-gradient(45deg, rgba(1,1,1,0) 60%, #fae83da3 60%),
    linear-gradient(50deg, rgba(1,1,1,0) 60%, #fae10089 60%);
    background-blend-mode: darken; */
  /* background:
    linear-gradient(40deg, rgba(1,1,1,0) 64%, #ffed4b 64%),
    linear-gradient(40deg, rgba(1,1,1,0) 62%, #fae83da3 62%),
    linear-gradient(40deg, rgba(1,1,1,0) 60%, #fae10089 60%);
  background-blend-mode: lighten; */

  z-index: -1;
}

* {
  box-sizing: border-box;
}