.image-big-at-center__wrapper {
  position: relative;
  display: flex;

  height: 70vh;
  min-height: 200px;
  max-height: 600px;


  overflow: hidden;

  justify-content: center;
  align-items: center;

  /* font-family: 'Oswald', 'Raleway', 'Helvetica Neue', Helvetica, Arial,
    sans-serif; */
}